@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

:root{
    --bg-color: #7C93C3;
    --primary-color: #55679C;
    --secondary-color: #1E2A5E;
    --tipo-fonte: "Gowun Batang",  sans-serif;
}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--tipo-fonte);
    height: 100vh;
    margin: 0;
}
header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;/*espaço interno do header*/;
} 
h1{
    font-size: 2rem;
    color: var(bg-color);
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color:var(--bg-color);
    margin: 0 2rem 1rem 0rem;
    font-size: 1.2rem;
}

                      